body {
  background-color: rgb(82, 86, 89);
}

.bg-even {
  background-color: #e3eaf1;
  
}

/*
.bg-gray {
  background-color: #f3f3f3;
}

.bg-gray .tag {
  color: #1da1f2;
}
*/
.bg-light .tag{
  color: #1da1f2;
 
}
.bg-light{
  background-color: #FAFAFA;
}
