body {
  background-color: rgb(82, 86, 89);
}

.bg-dark {
  background-color: #1d2d3c;
  color: #f3f3f3;
}

.bg-dark img.img-as-circle {
  border: 2px #f3f3f3 solid;
}
/*
.bg-gray {
  background-color: #f3f3f3;
}

.bg-gray .tag {
  color: #1da1f2;
}
*/
.bg-light .tag{
  color: #1da1f2;
 
}
.bg-light{
  background-color: #FAFAFA;
}
